body {
  color: #222;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: auto;
  margin-top:0px;
  margin-bottom: 1em;
  width:100%;
  background-color: #FBF4E2;
}

h1{
  color: #463C74;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

*{
  box-sizing: border-box;
}

header {
  width: 100%;
  margin:0px;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

/* sets the color of all links */
a:hover{
  color:#032B43;
}

/* controls the big bar at the top of the page */
.navbar{
  width: 100%;
  background-color: #B4D51E;
  margin: auto;
  text-align: center;
  color: #463C74;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-home{
  width: 100%;
  padding: 2rem 1rem;
  background-color: #B4D51E;
  margin: auto;
  text-align: center;
  color: #463C74;
  display: flex;
  flex-direction: column;
  min-height:50vh;
  justify-content: center;
}

main{
  width: 90%;
  max-width: 1024px;
  margin: auto;
}

.grid{
  width:90%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px,1fr));
  gap:1rem;
}

/* removes the bullets from the menu items */
nav ul{
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
  margin-top: 0px;
}

/* arranges menu items horizontally */
nav ul li{
  display: inline-block;
}

nav ul li a{
  color:#463C74;
}

.main ul li{
  display: list-item;
}

.center{
  text-align: center;
  width:100%;
}

#avatar{
  width: 100%;
  max-width:192px;
  height:auto;
  align-self: center;
}

.post{
width: 100%;
overflow:hidden;
text-overflow: ellipsis;
background-color: #B4D51E;
padding:1em;
border-radius: 12px;
color:#463C74;
}

.post a{
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

h2, h3, h4, h5{
font-family: "Share Tech Mono", monospace;
font-weight: 400;
font-style: normal;
}

.post h2{
  margin: 0px;
}

.summary p{
  margin:0px;
}

.intro ul{
  display: block;
  width: 90%;
  max-width: 1024px;
  margin: auto;
}



#big{
  margin:2rem;
}

p img{
  width:100%;
}